{% extends 'core/base.html' %}

{% load i18n %}
{% load allauth account %}
{% block head_title %}
    {% trans "Sign In" %}
{% endblock head_title %}



{% block title %}Log In{% endblock %}

{% block content %}

    {% if not SOCIALACCOUNT_ONLY %}
    {% setvar link %}
        <a href="{{ signup_url }}">
        {% endsetvar %}
        {% setvar end_link %}
        </a>
    {% endsetvar %}

    {% url 'account_login' as login_url %}

    {% if error_message %}
        <div class="alert error alert-danger">{{ error_message }}</div>
    {% endif %}

    <div class="mx-auto" style="max-width:320px;">
        
        <h1 style="text-align: center; margin-bottom: 1rem;">Welcome to Finde</h1>
        
        {% load socialaccount %}
        <div style="padding-bottom: 1rem;">
            <!-- IMPORTANT: must be an <a></a> link, not a <button></button> in order to work -->
            <a href="{% url 'google_login' %}" class="button-light" style="width:100%;">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="18px" height="18px" viewBox="0 0 48 48" class="mr-2"><g><path fill="#EA4335" d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z"></path><path fill="#4285F4" d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z"></path><path fill="#FBBC05" d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z"></path><path fill="#34A853" d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z"></path><path fill="none" d="M0 0h48v48H0z"></path></g></svg>Continue With Google
            </a>
        </div>

        <div class="divider-wrapper" style="padding-bottom: 1rem;"><span class="divider">Or</span></div>

        <form method="post" action="{% url 'core:login' %}">
            {% csrf_token %}
            <label for="id_login_input">Email or Username</label>
            <input type="text" name="login_input" id="id_login_input" required>

            <label for="id_password">Password</label>
            <input type="password" name="password" id="id_password" required>

            <input type="hidden" name="g-recaptcha-response" id="g-recaptcha-response">

            <a href="{% url 'password_reset' %}" style="color: rgb(0, 115, 255);">Forgot password?</a>

            <!-- IMPORTANT: must stay coupled within the <form></form> in order for log in button to work-->
            <button type="submit" style="margin:0; width:100%; margin: 1.5rem 0;" class="button-dark inactive" disabled>
                <span class="spinner" aria-hidden="true"></span> <!-- Loading spinner -->
                Log in
            </button>
        </form>
            
        <div class="grid gap-6">
            
            <p style="text-align: center;">Don't have an account? <a href="{% url 'account_signup' %}" style="color:rgb(0, 115, 255)">Sign Up</a></p>

        </div>
             
</div>

{% endif %}

{% endblock %}

{% block recaptcha %}
    <script src="https://www.google.com/recaptcha/api.js?render=6LeomTgqAAAAAMtjzmmPKW3Lf14A8T_80DojiJB7"></script>
    {{ block.super }} <!-- This will include the reCAPTCHA script from base.html -->
{% endblock recaptcha %}