{% extends 'core/base.html' %}
{% load i18n %}

{% block title %}Password Reset{% endblock %}

{% block content %}

<style>
    .password-reset-container {
    max-width: 500px;
    padding: 20px;
}
</style>

<div class="password-reset-container">
    <div class="card">
        <div class="card-header">
            <h1>{% trans "Reset Your Password" %}</h1>
        </div>
        <div class="card-body">
            <p>{% trans "Enter the email address associated with your account, and we'll send you a link to reset your password." %}</p>
            <br>
            <form method="POST">
                {% csrf_token %}
                {{ form.email.label_tag }}
                {{ form.email }}
                <button type="submit" class="button-light">{% trans "Send Reset Link" %}</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
